.footer{
    padding: 15px 0px;
    background-color: #eeeaff;
    width: 100%;
    margin-top: auto;
}
.footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2rem;
    background-color: #eeeaff;
}
.footer_box{
    width: 30%;
}
.footer_box p{
    line-height: 1.2rem;
    margin-top: 0px 20px;
}
.logo_imag img{
    height: 60px;
    width: 60px;
}
.footer_title{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 35px;
}
.footer_links{
    margin-bottom: 20px;
    margin-left: 35px;
    line-height: 28px;
    color: var(--heading--color);
}
.footer_links li a{
    cursor: pointer;
}
.footer_links li a:hover{
    color: var(--primary--color);
}